@use "variables";

.btn,
button {
  background-color: variables.$slate-200;
  border-radius: 3px;
  padding: 0.4rem 0.8rem;
  color: #000;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  filter: variables.$button-border;
  transition: transform 10ms;
}

/* button:not(:disabled):focus { */
button:not(:disabled):hover {
  background: variables.$slate-400;
  filter: variables.$button-pressed;
  transform: translate(variables.$button-offset, variables.$button-offset);
}

button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.btn {
  font-size: small;
  padding: 0.2rem 0.33rem;
  cursor: text;
}
