$lightgrey: #eee;
$darkgrey: #ddd;
$dark: #6096b4;
$dark-dark: #4b819e;
$mid: #93bfcf;
$grey: #bdcdd6;
$light: #eee9da;
$accent: #d47970;
$accent-dark: #3f7491;

$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;
$slate-900: #0f172a;

$teal-50: #f0fdfa;
$teal-100: #ccfbf1;
$teal-200: #99f6e4;
$teal-300: #5eead4;
$teal-400: #2dd4bf;
$teal-500: #14b8a6;
$teal-600: #0d9488;
$teal-700: #0f766e;
$teal-800: #115e59;
$teal-900: #134e4a;

$lime-50: #f7fee7;
$lime-100: #ecfccb;
$lime-200: #d9f99d;
$lime-300: #bef264;
$lime-400: #a3e635;
$lime-500: #84cc16;
$lime-600: #65a30d;
$lime-700: #4d7c0f;
$lime-800: #3f6212;
$lime-900: #365314;

$white: $slate-50;
$black: #222;
$modal-bg: $slate-300;

$shadow-offset: 0.1rem;
$button-offset: 0.05rem;
$shadow: drop-shadow($shadow-offset $shadow-offset 0.08rem black);
$shadow-pressed: drop-shadow($shadow-offset $shadow-offset 0.005rem black);
$button-border: drop-shadow($shadow-offset $shadow-offset 0.08rem $slate-700);
$button-pressed: drop-shadow($shadow-offset $shadow-offset 0.005rem $slate-900);

/* $breakpoints: ( */
/*   'phone': 320px, */
/*   'tablet': 768px, */
/*   'desktop': 1024px, */
/* ) !default; */
