html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Arial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  text-align: center;
}

#container {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;

  & > * {
    display: block;
    grid-column: 2;
  }
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1 !important;
  margin: 1em 0;
}

#model-vis-container {
  canvas {
    width: 100%;
  }
}

.sidebar {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    canvas {
      width: 128px;
      height: 128px;

      image-rendering: crisp-edges; /* for firefox */
      image-rendering: pixelated; /* for everything else */
    }
  }
}

#editor {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: rgba(230, 230, 230, 0.9);
  padding: 1em;
  border-radius: 1em;

  .canvasCont {
    position: relative;
    display: block;
    margin: 0.8em;
    display: block;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      image-rendering: crisp-edges; /* for firefox */
      image-rendering: pixelated; /* for everything else */
      //max-width: 512px;
      //max-height: 512px;
    }
  }

  #tools {
    margin: 3px;
    position: relative;
    display: block;
    /* padding-top: 100px; */
    span {
      margin: 3px;
      padding: 3px 6px;
      background-color: rgb(180, 180, 180);
      border-radius: 3px;
    }
  }
}

#activations {
  canvas {
    min-width: 32px;
    min-height: 32px;

    image-rendering: crisp-edges; /* for firefox */
    image-rendering: pixelated; /* for everything else */
  }
}

#buttons {
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
  text-decoration: underline;
}
